In [2]:
import pandas as pd
import shutil

Metadata file has multiple columns. The data comes from CMV status analysis (though we don't need it here).

In [3]:
desc_hip = pd.read_csv('/projects/fmba_covid/1_data_links/hip_full_prep.txt', sep='\t')

In [4]:
desc_hip

,file_name,sample_id,age,race,sex,cmv,hla,..filter..,dataset,covid
0,HIP00110.txt,HIP00110,55.0,NaN,male,-,"HLA-A*03,HLA-A*24,HLA-B*07",corr:2:0.05:all,HIP,healthy
1,HIP00169.txt,HIP00169,41.0,NaN,male,-,"HLA-A*01,HLA-A*02,HLA-B*27,HLA-B*37",corr:2:0.05:all,HIP,healthy
2,HIP00594.txt,HIP00594,21.0,"caucasian,non-hispanic or latino",male,+,"HLA-A*02,HLA-A*32,HLA-B*07,HLA-B*61",corr:2:0.05:all,HIP,healthy
3,HIP00602.txt,HIP00602,45.0,NaN,female,-,"HLA-A*02,HLA-A*11,HLA-B*35,HLA-B*51",corr:2:0.05:all,HIP,healthy
4,HIP00614.txt,HIP00614,27.0,"caucasian,non-hispanic or latino",male,-,"HLA-A*03,HLA-A*29,HLA-B*07",corr:2:0.05:all,HIP,healthy
...,...,...,...,...,...,...,...,...,...,...
781,Keck0116_MC1.txt,Keck0116_MC1,19.0,"asian or pacific islander,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy
782,Keck0117_MC1.txt,Keck0117_MC1,34.0,"caucasian,non-hispanic or latino",male,+,NaN,corr:2:0.05:all,KECK,healthy
783,Keck0118_MC1.txt,Keck0118_MC1,28.0,"caucasian,non-hispanic or latino",male,+,NaN,corr:2:0.05:all,KECK,healthy
784,Keck0119_MC1.txt,Keck0119_MC1,24.0,"asian or pacific islander,non-hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
785,Keck0120_MC1.txt,Keck0120_MC1,26.0,"caucasian,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy

In [21]:
selected_data = desc_hip[desc_hip.dataset == 'KECK'].head(10)

In [22]:
selected_data

,file_name,sample_id,age,race,sex,cmv,hla,..filter..,dataset,covid
666,Keck0001_MC1.txt,Keck0001_MC1,22.0,"caucasian,non-hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
667,Keck0002_MC1.txt,Keck0002_MC1,21.0,"caucasian,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy
668,Keck0003_MC1.txt,Keck0003_MC1,25.0,non-hispanic or latino,female,-,NaN,corr:2:0.05:all,KECK,healthy
669,Keck0004_MC1.txt,Keck0004_MC1,24.0,"caucasian,non-hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
670,Keck0005_MC1.txt,Keck0005_MC1,24.0,"caucasian,non-hispanic or latino",male,-,NaN,corr:2:0.05:all,KECK,healthy
671,Keck0006_MC1.txt,Keck0006_MC1,23.0,"caucasian,non-hispanic or latino",male,-,NaN,corr:2:0.05:all,KECK,healthy
672,Keck0007_MC1.txt,Keck0007_MC1,22.0,"caucasian,non-hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
673,Keck0008_MC1.txt,Keck0008_MC1,24.0,"caucasian,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy
674,Keck0009_MC1.txt,Keck0009_MC1,23.0,"caucasian,hispanic or latino",female,+,NaN,corr:2:0.05:all,KECK,healthy
675,Keck0010_MC1.txt,Keck0010_MC1,24.0,"caucasian,non-hispanic or latino",female,-,NaN,corr:2:0.05:all,KECK,healthy

In [23]:
for run in selected_data.file_name:
    shutil.copyfile('/projects/fmba_covid/1_data_links/hip_full/' + run, '../hip_full/' + run)

Reading the raw rep-seq data. We can find the info on V/D/J segments which were used to form this clonotype, its frequency in sample, count of times it was assembled using spesific nucleotide sequence.

In [24]:
pd.read_csv('/projects/fmba_covid/1_data_links/hip_full/Keck0002_MC1.txt', sep='\t')

,count,freq,cdr3nt,cdr3aa,v,d,j,VEnd,DStart,DEnd,JStart
0,18719,0.104848,TGTGCCAGCAGTGCTAGCAACACCGGGGAGCTGTTTTTT,CASSASNTGELFF,TRBV6-4,TRBD2,TRBJ2-2,13,13,18,18
1,3162,0.017711,TGTGCCAGCAGCAAAGCGCTGGCAGGGGGGGCATTTT,CASSKA_WQGGHF,TRBV21-1,TRBD1,TRBJ1-5,20,22,29,30
2,2198,0.012311,TGTGCCAGTAGTATAGTCTCCGACAGCCATGAGCAGTTCTTC,CASSIVSDSHEQFF,TRBV19,TRBD1,TRBJ2-1,19,21,26,28
3,1473,0.008251,TGCGCCAGCAGCCTCCATAATCACCCAAACCTACGAGCAGTACTTC,CASSLHNH_QTYEQYF,TRBV4-1,NaN,TRBJ2-7,13,-36,-36,29
4,1075,0.006021,TGTGCCAGCAGCCAATTTCTGAGAAACACCATATATTTT,CASSQFLRNTIYF,TRBV16,NaN,TRBJ1-3,16,-43,-43,17
...,...,...,...,...,...,...,...,...,...,...,...
111405,1,0.000006,TGTGCCAGCAGTTCCAGGGGTAGAACTGAAGCTTTCTTT,CASSSRGRTEAFF,"TRBV6-9,TRBV6-1,TRBV6-6,TRBV6-8,TRBV6-5",TRBD1,TRBJ1-1,13,14,20,24
111406,1,0.000006,TGCGCCAGCAGCCAGGGGACAGGGGGCGATGAAGCTTTCTTT,CASSQGTGGDEAFF,"TRBV4-1,TRBV4-3",TRBD1,TRBJ1-1,14,15,28,29
111407,1,0.000006,TGTGCCAGCAGCCACCCCGGCGGGGGGGGGCGGTAGGGAAGCTTTCTTT,CASSHPGG_GGGREAFF,"TRBV4-2,TRBV4-3,TRBV4-1","TRBD1,TRBD2",TRBJ1-1,14,25,32,37
111408,1,0.000006,TGTGCCAGCAGCACACCGCGGGGGCGGACCTCTAAAGCTTTCTTT,CASSTPRGRTSKAFF,"TRBV6-5,TRBV6-1,TRBV6-6",TRBD1,TRBJ1-1,11,19,26,31
111409,1,0.000006,TGTGCCAGTAGGGACAGGGGGCGAACTACTTTCTTT,CASRDRGRTTFF,TRBV19,TRBD1,TRBJ1-1,11,11,23,28

Reading theough all the five raw files and concatenating them.

In [38]:
datasets_to_concat = []
for run in selected_data.file_name:
    df = pd.read_csv('/projects/fmba_covid/1_data_links/hip_full/' + run, sep='\t')
    df = df[(df.cdr3aa.str.isalpha()) & (df['count'] == 1)]
    datasets_to_concat.append(df)

In [43]:
raw_data_concat = pd.concat(datasets_to_concat)

In [44]:
raw_data_concat = raw_data_concat[raw_data_concat.cdr3aa.str.isalpha()][['cdr3aa', 'count', 'v', 'j']]

We want to have a look at the naive clonotypes. It means that they would be very rare (assembpled only in one sample, only once). To choose such clonotypes let's group them:
* by how many samples have this clonotype
* by how many cells we sequenced which correspond to this cdr3aa (amino acid sequence of CDR3)

As the result we would take the intersection of these two sets of clonotypes

In [45]:
grouped_data_per_file = raw_data_concat.groupby(by=['cdr3aa'], as_index=False).count()
grouped_data_per_file = grouped_data_per_file[['cdr3aa', 'count']].merge(raw_data_concat)
grouped_data_per_file.sort_values(by='count')

                   cdr3aa  count                  v        j
0              ARENTGELFF      1            TRBV4-1  TRBJ2-2
646414    CASSSSSGTPYEQYF      1    TRBV5-4,TRBV5-8  TRBJ2-7
646415   CASSSSSGTRRNEQFF      1              TRBV9  TRBJ2-1
646416  CASSSSSGTSGGDTQYF      1    TRBV5-4,TRBV5-8  TRBJ2-3
646417   CASSSSSGTSVCEQYF      1             TRBV27  TRBJ2-7
...                   ...    ...                ...      ...
323217    CASSLFGDRATEAFF      1  TRBV12-4,TRBV12-3  TRBJ1-1
323218  CASSLFGDRGIIGELFF      1    TRBV7-9,TRBV7-6  TRBJ2-2
323219   CASSLFGDRGLYEQYF      1             TRBV28  TRBJ2-7
323207    CASSLFGDLPYEQYF      1             TRBV27  TRBJ2-7
969633          YTLVCGYTF      1            TRBV6-1  TRBJ1-2

[969634 rows x 4 columns]

In [46]:
unique_clones_per_file = grouped_data_per_file[grouped_data_per_file['count'] == 1]
unique_clones_per_file

                     cdr3aa  count         v        j
0                ARENTGELFF      1   TRBV4-1  TRBJ2-2
1                ARQSQETQYF      1   TRBV7-5  TRBJ2-5
2                ATGGGNTIYF      1    TRBV18  TRBJ1-3
3            CAAAAAGANNEQFF      1     TRBV2  TRBJ2-1
4             CAAAAKRTDTQYF      1   TRBV7-9  TRBJ2-3
...                     ...    ...       ...      ...
969629      YSVHGGRALNTEAFF      1  TRBV29-1  TRBJ1-1
969630  YSVVIGLAADPLGPDTQYF      1  TRBV29-1  TRBJ2-3
969631        YSYQSRENSPLHF      1  TRBV20-1  TRBJ1-6
969632          YTGRAERPQHF      1    TRBV27  TRBJ1-5
969633            YTLVCGYTF      1   TRBV6-1  TRBJ1-2

[969634 rows x 4 columns]

In [47]:
unique_clones_per_file[['cdr3aa', 'v', 'j']].to_csv('naive_clonotypes_keck.csv', index=False)

In [48]:
unique_clones_per_file.v = unique_clones_per_file.v.apply(lambda x: x.split(',')[0])

In [51]:
unique_clones_per_file.v.value_counts()

TRBV20-1    94172
TRBV5-1     51547
TRBV19      49032
TRBV28      48241
TRBV12-4    40100
            ...
TRBV3-1         9
TRBV22-1        9
TRBV7-1         7
TRBV17          6
TRBV5-2         2
Name: v, Length: 62, dtype: int64